header {
    background: #70f;
}
header .logo {
    font-weight: bold;
}
header  .logo-div .logo { font-size: 30px;text-decoration: none;color: #fff;}
header  .logo-div .logo:hover { color: #fff;}
header  .logo-div .logo img { height: 30px;}

