footer {
    background: #70f;
   
    text-align: center;
    position: fixed;
    bottom: 0;width: 100%;
}
footer a {
    font-weight: bold; color: #fff;padding: 10px 0;font-size: 15px;text-decoration: none;display: inline-block
}
