<section class="checkout-form-sec">
    <div class="container">
        <div class="row">
          <div class="col-sm-6">
              <form [formGroup]="checkoutForms" (ngSubmit)="onSubmit()">
                  <h5 *ngIf="success">Form Invalid</h5>
                  <label>
                    First Name:
                    <input type="text"  formControlName="firstName"/>
                    <div *ngIf="submitted && checkoutForms.controls.firstName.errors" class="error">
                      <div *ngIf="checkoutForms.controls.firstName.errors.required">
                        firstName required
                      </div>
                    </div>
                  </label>
                  <label>
                    Last Name:
                    <input type="text"  formControlName="lastName"/>
                    <div *ngIf="submitted && checkoutForms.controls.lastName.errors" class="error">
                      <div *ngIf="checkoutForms.controls.lastName.errors.required">
                        lastName required
                      </div>
                    </div>
                  </label>
                  <label>
                    E-mail:
                    <input type="email"  formControlName="mail"/>
                    <div *ngIf="submitted && checkoutForms.controls.mail.errors" class="error">
                      <div *ngIf="checkoutForms.controls.mail.errors.required">
                        mail required
                      </div>
                      <div *ngIf="checkoutForms.controls.mail.errors.email">Email must be a valid email address</div>

                    </div>
                  </label>
                  <label>
                   Delivery Date:
                    <input type="date"  formControlName="deliverydate"/>
                    <div *ngIf="submitted && checkoutForms.controls.deliverydate.errors" class="error">
                      <div *ngIf="checkoutForms.controls.deliverydate.errors.required">
                        delivery date required
                      </div>
                    </div>
                  </label>
                  <input value="Checkout" type="submit" class="cta">
                  </form>
          </div>
          <div class="col-sm-6">
            <div class="product-detail-box">
                <div class="product-img-box">
                    <img [src]="selectedProduct?.imageUrl" class="img-fluid" [alt]="selectedProduct?.name"  style="max-width:100%;"/>
                </div>
                <h4 class="product-title">{{selectedProduct?.name}}</h4>
                <p class="product-description">{{selectedProduct?.description}}</p>
                <h5 class="price text-uppercase">current price: <span>{{selectedProduct?.price}}</span></h5>
            </div>
          </div>
        </div>
        
        
        </div>
</section>