.checkout-form-sec { padding: 20px 0;}
label {
    display: block;
}
label input, label textarea {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 1em;
}
label .error {
    margin-top: -20px;
    background: yellow;
    padding: 0.5em;
    display: inline-block;
    font-size: 0.9em;
    margin-bottom: 20px;
    text-transform: capitalize;
    width: 100%;
}
.cta {
    background: #70f;
    border: none;
    color: white;
    text-transform: uppercase;
    border-radius: 4px;
    padding: 1em;
    cursor: pointer;
    font-family: 'Montserrat';
}
.results {
    margin-top: 50px;
}
.results strong {
    display: block;
}
.results span {
    margin-bottom: 20px;
    display: block;
}
.price,.product-title {  font-weight: bold;margin: 10px 0;}
.product-img-box img { height: 250px;}
.product-img-box {    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.4);    padding: 24px;display:flex;justify-content:center;align-items:center;border-right:1px solid #f6f6f6;}
