
<section class="product_details">
  <div class="container">
    <h2> {{ selectedProduct?.name }}</h2>
    <div class="row">
      <div class="col-sm-6">
        <div class="product-img-box">
            <img [src]="selectedProduct?.imageUrl" class="img-fluid" [alt]="selectedProduct?.name"  style="max-width:100%;"/>
        </div>
      </div>
      <div class="col-sm-6">
          <div class="product-detail-box">
              <h3 class="product-title">{{selectedProduct?.name}}</h3>
             <p class="product-description">{{selectedProduct?.description}}</p>
             <h4 class="price text-uppercase">current price: <span>{{selectedProduct?.price}}</span></h4>
          <button class="add-to-cart btn btn-primary" routerLink="/product-detail/checkout/{{ selectedProduct?.id }}">Add to Cart</button>
          </div>
      </div>
    </div>
  </div>
</section>
