.product_details { padding: 20px 0;}
.product_details h2 { font-weight: bold;font-size: 25px;}
.price,.product-title {  font-weight: bold;}
.product-img-box {    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.4);    padding: 24px;display:flex;justify-content:center;align-items:center;border-right:1px solid #f6f6f6;}
.add-to-cart{
    background: #70f;
    padding: 10px;margin: 20px 0;
    border: none;
    text-transform: UPPERCASE;
    font-weight: bold;
    color: #fff;
    -webkit-transition: background .3s ease;
            transition: background .3s ease; }
    .add-to-cart:hover{
      background: #b36800;
      color: #fff; }