
<section class="confirm-section">
  <div class="container">
    <div class="confirm_msg_box">
      <h4>Thank you</h4>
      <h2>{{users?.firstName}}</h2>
      <h4>Your Order is confirmed</h4>
      <h6>Details:</h6>
      <p>Product : {{ selectedProduct?.name }}</p>
      <p>Price : {{ selectedProduct?.price }}</p>
      <a routerLink='/' class="backlink">Back</a>
    </div>
   
  </div>
</section>
