.confirm-section { display: flex;align-items: center;height: 100vh;    justify-content: center;margin: -45px 0;}
.confirm_msg_box{    display: flex;
    flex-direction: column;
    align-items: center;justify-content: center;
    min-height: 400px;height: auto;box-shadow: 1px 1px 1px 1px rgba(119,0,255,0.9)
}
.confirm_msg_box h4 { font-weight: 800;color: #70f}
.confirm_msg_box p { margin-bottom: 0;font-size: 20px;}
.backlink { color: #70f;margin-top: 50px; }