<section class="product_listing">
    <div class="container">
        <div class="row">
          <div class="col-sm-4"  *ngFor="let prd of productsList">
            <div class="card" style="width: 18rem;">
                  <img [src]="prd?.imageUrl" class="card-img-top" [alt]="prd?.name">
              <div class="card-body text-center">
                <h5 class="card-title">{{prd?.name}}</h5>
                <p class="card-text">{{prd?.description}}</p>
                <a routerLink="/product-detail/{{ prd.id }}" class="btn btn-primary">View More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>
